/* .purple
{
  background-color:#9ee29b;
}

.blue
{
  background-color:#97d4e4;
}

.orange
{
  background-color: #f5ca79;
} */

/* .dot {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 40%;
  display: inline-block;
} */
