<app-container-navbar></app-container-navbar>

<app-create-note (addNoteEmitter)="onAddNoteEmitter()" [addNote]="addNote"></app-create-note>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <app-note (createNote)="onCreateNote($event)" [addNote]="addNote"></app-note>
    </div>

    <div class="col-md-4">
        <app-group *ngIf="showGroups" [groups]="groups" [completedNotes]="completedNotes" (createGroup)="onCreateGroup($event)"></app-group>
    </div>


  </div>
</div>


<app-note-preview (addGroup)="onAddNoteToGroup($event)" [note]="note" [notes]="notes" [groups]="groups"></app-note-preview>
<br>

<app-groupnote [groups]="groups" (setRemoved)="onSetRemoved($event)" (setCompleted)="onSetCompleted($event)"></app-groupnote>
