<div class="container">
  <div class="row" *ngIf="addGroup">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn" style="float: right;" (click)="onAddGroup()">+ Create a Group</button>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="!addGroup">
    <div class="col-md-8">
      <h6>Completed Notes are: {{completedNotes}}</h6>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Group Title" [(ngModel)]="groupTitle">
        </div>
        <br>
        <button type="button" class="btn" (click)="onCreateGroup(groupTitle)">Create</button>
        <br>
      </div>
    </div>
  </div>
</div>
