<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="list-group" *ngIf="!addNote">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Post Title" [(ngModel)] = "postTitle">
        </div>
        <br>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" style="height: 200px" placeholder="Post Description"  [(ngModel)]= "postDescription">
        </div>
        <br>
        <button type="button" class="btn btn-outline-primary" (click)="onCreateNote(postTitle,postDescription);">Create</button>
        <br>
      </div>
    </div>
  </div>
</div>
