<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Create a Note:</h3>
      <br>
      <br>
      <button type="button" class="btn btn-primary" *ngIf="addNote" (click)="onAddNote()">+</button>
      <div class="list-group" *ngIf="!addNote">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Post Title" aria-describedby="sizing-addon2" #postTitle>
        </div>
        <br>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Post Description" aria-describedby="sizing-addon2" #postDescription>
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="onCreateNote(postTitle.value,postDescription.value)">Create</button>
        <br>
      <app-group></app-group>
      </div>
      <br>
      <div class="card" *ngFor="let note of noteService.notes">
        <div class="card-block">
          <h4 class="card-title">{{note.title}}</h4>
          <hr>
          <p class="card-text">{{note.description}}</p>

          <ss-multiselect-dropdown [options]="groups"></ss-multiselect-dropdown>



          <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="float: right;">
              Dropdown Example
            </button>
            <div class="dropdown-menu">
                <a href="#">Implement grouping logic</a>
                <a href="#">Implement grouping logic</a>
            </div>
          </div> -->
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
