<div class="container">
    <div class="row" *ngIf="addGroup">
      <div class="col-md-6">
      <br>
      <br>
        <button type="button" class="btn btn-outline-primary" style="float: right;" (click)="onAddGroup()">+ Create a Group</button>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row" *ngIf="!addGroup">
      <div class="col-md-12">
          <h3>Create a Group:</h3>
        <form #groupForm="ngForm">
        <div class="list-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Group Title" required [(ngModel)]="groupTitle" name="title">
          </div>
          <br>
          <button type="button" class="btn btn-outline-primary" [disabled]="!groupForm.form.valid" (click)="onCreateGroup(groupTitle)">Create</button>
          <br>
        </div>
      </form>
      </div>
      <div class="col-md-12">
          <h6>Completed Notes are: {{completedNotes}}</h6>
        </div>
    </div>
  </div>
